In [1]:
n=int(input('enter number'))
z=1
for num in range(1, n+1):

    for i in range(num, 0, -1):
        print(z, end=' ')
        z+=1
    print(" ")

enter number5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [6]:
z = 1
Break = 2
n=int(input('enter number'))

for i in range(n):

    for j in range(1, Break):
        print(z, end=' ')
        z += 1
    print('')
    Break += 2

enter number3
1
2 3 4
5 6 7 8 9

In [11]:
n=int(input("enter number:"))
n1=1
for num in range(1,n+1):
    for i in range(1,num+1):
        print(n1, end=" ")
    n1+=2
    print("")

enter number:5
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [16]:
n=int(input("enter number:"))
c=65

for num in range(1,n+1):
    for i in range(1,num+1):
      
        print(chr(c), end=" ")
    c+=1
    print(" ")
    if c==87:
        break

enter number:5
A
B B
C C C
D D D D
E E E E E

In [15]:
word = 'python'
x =""
for i in word:
    x+=i
    print(x)

p
py
pyt
pyth
pytho
python

In [18]:
n=int(input('enter number'))
z=65
for num in range(1, n+1):

    for i in range(num, 0, -1):
        print(chr(z), end=' ')   #chr(65)-print ascii to char
        z+=1
    print(" ")

enter number5
a
b c
d e f
g h i j
k l m n o

In [19]:
n=int(input('enter number'))
z=97
for num in range(1, n+1):

    for i in range(num, 0, -1):
        print(chr(z), end=' ')   #chr(65)-print ascii to char
        z+=1
    print(" ")

enter number5
a
b c
d e f
g h i j
k l m n o

In [24]:
n=int(input("enter number:"))
z=97
for num in range(1,n+1):
    for i in range(1,num+1):
      
        print(chr(z), end=" ")
    z+=1
    
    print(" ")

enter number:5
a
b b
c c c
d d d d
e e e e e

In [27]:
n=int(input("enter number:"))
z=97
for num in range(1,n+1):
    z=97
    for i in range(1,num+1):
      
        print(chr(z), end=" ")
        z+=1
    print(" ")

enter number:5
a
a b
a b c
a b c d
a b c d e

In [26]:
n=int(input('enter number'))
z=97
for num in range(1, n+1):
    z=97
    for i in range(num, 0, -1):
        print(chr(z), end=' ')  
        z+=1
    print(" ")

enter number5
a
a b
a b c
a b c d
a b c d e

# List in python

In [28]:
my_list=[1,2,3,4]

In [29]:
print(my_list)

[1, 2, 3, 4]

In [30]:
print(len(my_list))

4

In [31]:
type(my_list)

list

In [32]:
print(type(my_list))

<class 'list'>

In [33]:
list1 = ['abc',45,78,9,True]

In [34]:
mylist = list(('abc','xyz',23,True,False))

In [36]:
print(mylist)

['abc', 'xyz', 23, True, False]

In [37]:
mylist[0]

'abc'

In [38]:
my_list[-1]

4

In [39]:
my_list=[1,2,3,4]

In [40]:
my_list[1:]

[2, 3, 4]

In [41]:
my_list[:-1]

[1, 2, 3]

In [42]:
if 1 in my_list:
    print('present')
else:
    print('absent')

present

In [43]:
if 10 in my_list:
    print('present')
else:
    print('absent')

absent

In [44]:
my_list[0]=100

### add items in list

In [45]:
my_list.append('added item')

In [46]:
my_list

[100, 2, 3, 4, 'added item']

In [47]:
my_list.insert(1,'first item')

In [48]:
my_list

[100, 'first item', 2, 3, 4, 'added item']

In [49]:
list1=['abc',45,78,9,True]

In [50]:
my_list.extend(list1)  #extend existing list

In [51]:
my_list

[100, 'first item', 2, 3, 4, 'added item', 'abc', 45, 78, 9, True]

In [52]:
tuple1 = ('hello','tuple')

In [53]:
my_list.extend(tuple1)

In [57]:
my_list

[100,
 'first item',
 2,
 3,
 4,
 'added item',
 'abc',
 45,
 78,
 9,
 True,
 'hello',
 'tuple']

### remove the item

In [58]:
my_list

[100,
 'first item',
 2,
 3,
 4,
 'added item',
 'abc',
 45,
 78,
 9,
 True,
 'hello',
 'tuple']

In [59]:
my_list.remove('first item')  #remove given item

In [60]:
my_list

[100, 2, 3, 4, 'added item', 'abc', 45, 78, 9, True, 'hello', 'tuple']

In [61]:
my_list.pop()

'tuple'

In [62]:
my_list.pop(0)

100

In [64]:
del my_list[0]

In [65]:
my_list

[3, 4, 'added item', 'abc', 45, 78, 9, True, 'hello']

In [66]:
list1

['abc', 45, 78, 9, True]

In [67]:
del list1  #whole list gets deleted

In [68]:
list1

NameError: name 'list1' is not defined

In [69]:
my_list

[3, 4, 'added item', 'abc', 45, 78, 9, True, 'hello']

In [70]:
my_list.clear()    #clear all items

In [71]:
my_list

[]

In [72]:
type(my_list)

list

In [79]:
my_list.clear()
my_list + ['new item']

['new item']

In [80]:
my_list

[]

In [81]:
my_list = my_list + ['new item']

In [82]:
my_list

['new item']

In [83]:
my_list * 2

['new item', 'new item']

In [84]:
my_list

['new item']

In [85]:
my_list = [1,2,3,4,5,6,7,8,9]

In [86]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [91]:
my_list.reverse()

In [92]:
my_list

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [93]:
dir(my_list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [94]:
new_list= ['s','a','b','d','c']

In [95]:
new_list

['s', 'a', 'b', 'd', 'c']

In [96]:
new_list.append('a')

In [97]:
new_list

['s', 'a', 'b', 'd', 'c', 'a']

In [98]:
new_list.count('a')   #return the count of elemetn

2

In [99]:
new_list.sort()   #sorted list

In [100]:
new_list

['a', 'a', 'b', 'c', 'd', 's']

In [103]:
list2 =new_list

In [104]:
list2

['a', 'a', 'b', 'c', 'd', 's']

In [105]:
list3 = new_list.copy()

In [106]:
list3

['a', 'a', 'b', 'c', 'd', 's']

In [107]:
list4=[1]
list4 = new_list.copy()

In [108]:
list4

['a', 'a', 'b', 'c', 'd', 's']

In [109]:
#shallo copy -gives only reference to prevous obj
#deep copy-

In [110]:
my_list

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [111]:
my_list.index(5)  # checks index of element

4

In [114]:
mylist.__add__(my_list)

['abc', 'xyz', 23, True, False, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [115]:
len(my_list)

9

In [117]:
my_list.__len__()

9


### List comprehension

In [118]:
lst = [x for x in 'word' ]

In [119]:
lst

['w', 'o', 'r', 'd']

In [120]:
lst = [x**2 for x in range(0,11)]

In [121]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [122]:
lst = [x for x in range(11) if x%2 ==0]

In [124]:
lst

[0, 2, 4, 6, 8, 10]

In [125]:
c = [0,10,20,56.2,78]
f=[((9/5)*temp+32) for temp in c]
print(f)

[32.0, 50.0, 68.0, 133.16000000000003, 172.4]

In [126]:
lst = [x**2 for x in [x**2 for x in range(11)]]

In [127]:
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

### nesting of list

In [128]:
lst1 =[1,2,3]

In [129]:
lst2=[4,5,6]
lst3=[7,8,9]

matrix = [lst1,lst2,lst3]

In [130]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [131]:
matrix [0]

[1, 2, 3]

In [133]:
matrix[0][0]

1

In [139]:
first_col = [row[0] for row in matrix]  #access column

In [140]:
first_col

[1, 4, 7]

In [137]:
sec_col = [row[1] for row in matrix]  #access column

In [138]:
sec_col

[2, 5, 8]

In [142]:
list1 = ['ABC','XYZ','pqR']
for i in list1:
    i.lower()
print(list1)

['ABC', 'XYZ', 'pqR']

In [143]:
# ###do not run
# list1 = ['abc','123']
# for i in list1:
#     list1.append(i)
# print(list1)

In [144]:
list1 = ['These','are','a',['few','words'],'that','we','use']

In [148]:
list1

['These', 'are', 'a', ['few', 'words'], 'that', 'we', 'use']

In [149]:
print(list1[3:4])
print(list1[3:4][0])
print(list1[3:4][0][1][2])

[['few', 'words']]
['few', 'words']
r

In [151]:
for i in [20,10,3,4][::-1]:
    print(i)

4
3
10
20

In [155]:
for i in sorted([20,10,3,4]):
    print(i)

3
4
10
20

In [160]:
for i in for i in sorted([20,10,3,4],reverse=True):
    print(i)

SyntaxError: invalid syntax (<ipython-input-160-93b1ad2dfca9>, line 1)

In [163]:
for i in [20,10,3,4].sort():#we get error
    print(i)

TypeError: 'NoneType' object is not iterable

In [171]:
list1 = [1,1.1,"ABC",10,"DEF",5,4.4,True,4]
val1,val2 =0,""
for i in list1:
    if type(i) == int or type(i)==float:
        val1 = val1+i
    elif type(i)==str:
        val2= val2+i
    else:
        
        break
print(val1,val2)

True
21.5 ABCDEF

In [175]:
x =[]
if x:
    print('True')
else:
    print('False')

False

In [185]:
#problem 1: count the positive and negative 
#number from the list
lst1=[1,-2,-4,5,6,-7,4]
ps=[x for x in lst1 if x>0]
nv = [x for x in lst1 if x<0]

print('length of positive numebr = ',len(ps))
print('numebr of negative in list= ',len(nv)
print()

positive list =  [1, 5, 6, 4]
negative list=  [-2, -4, -7]

In [192]:
#2.remov the odd numberformlist
lst1=[11,22,33,44,55,66,77,88,99]
lst2=[x for x in lst1 if x%2==0:]
lst1=lst2
print(lst1)

SyntaxError: invalid syntax (<ipython-input-192-f9379b344516>, line 3)

In [194]:
lst1=[11,22,33,44,55,66,77,88,99]
lst1=[x for x in lst1 if x%2==0]

print(lst1)

[22, 44, 66, 88]

In [197]:
# A=[11,22,33,44,55,66,77,88,99]
# A.remove(x for x in range(9) if x%2!=0)
# print(A)
#not possible

In [199]:
#3.program to display sum of all even number
#anad odd number from list
lst1=[11,22,33,44,55,66,77,88,99]
even=sum([x for x in lst1 if x%2==0])
odd=sum([x for x in lst1 if x%2!=0])
print('sum of odd = ',odd)
print('sum of even = ',even)

sum of odd =  275
sum of even =  220

In [221]:
#4.find N largest elemnt from list
#2-two largest elemnt

lst1=[11,22,33,44,55,66,77,88,99]
lst1.sort()
a=int(input('enter number'))
count=1
while count<=a:
    lst1.pop()
    count+=1
    
print(lst1)

enter number2
[11, 22, 33, 44, 55, 66, 77]

In [216]:
max(lst1)

11

In [217]:
min(lst1)

11

# Tuple

In [222]:
#tuple is collection
#ordered
#unchangael-immutable

In [228]:
mytuple=('apple','mango','banana',)

In [229]:
type(mytuple)

tuple

In [230]:
mytuple

('apple', 'mango', 'banana', 'apple')

In [231]:
mytuple=('apple','mango','banana','apple','mango','banana')

In [232]:
print(mytuple[1])

mango

In [233]:
print(mytuple[-1])

banana

In [235]:
mytuple.append('orenge')

TypeError: count() takes exactly one argument (0 given)

In [1]:
mytuple=('apple','mango','banana','apple','mango','banana')
y = list(mytuple)
y.append('orange')
mytuple = tuple(y)
mytuple

('apple', 'mango', 'banana', 'apple', 'mango', 'banana', 'orange')

In [9]:
mytup=mytuple[:-1]
mytup

('apple', 'mango', 'banana', 'apple', 'mango', 'banana')

('apple', 'mango', 'banana', 'apple', 'mango', 'banana')

In [10]:
fruits = ('apple','mango','banana')
(green,yello,red)=fruits
print(green)
print(yello)
print(red)

apple
mango
banana

In [16]:
fruits = ('apple','mango','banana','raspberry')
(green,*yello,red)=fruits
print(green)
print(yello)
print(red)
type(red)

apple
['mango', 'banana']
raspberry

str

In [17]:
for x in fruits:
    print(x)

apple
mango
banana
raspberry

In [19]:
for i in range(len(fruits)):
    print(fruits[i])

apple
mango
banana
raspberry

In [20]:
i=0
while i<len(fruits):
    print(fruits[i])
    i+=1

apple
mango
banana
raspberry

In [21]:
if 'apple' in fruits:
    print('present')
else:
    print('absent')

present

In [22]:
dir(fruits)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [23]:
fruits

('apple', 'mango', 'banana', 'raspberry')

In [25]:
mytuple

('apple', 'mango', 'banana', 'apple', 'mango', 'banana', 'orange')

In [26]:
del mytuple

In [27]:
mytuple

NameError: name 'mytuple' is not defined

In [31]:
tuple1=(1,2,3)
tuple2 =('a','b','c')
tuple3=tuple1 + tuple2

In [32]:
tuple3

(1, 2, 3, 'a', 'b', 'c')

In [33]:
tuple3 = tuple1 * 3

In [34]:
tuple3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [35]:
tuple1 = tuple1*2

In [36]:
tuple1

(1, 2, 3, 1, 2, 3)

In [39]:
mytuple=tuple(('apple','mango','banana'))

In [40]:
mytuple

('apple', 'mango', 'banana')

In [42]:
x= mytuple.count('apple')
print(x)

1

In [43]:
x = mytuple.index('banana')
print(x)

2

In [ ]:
#problem1:write a program to convert a given
#string in tuple
input:python 3.0
output:('p','y'....)

In [53]:
str1 ='python 3.0'

lst=''
for x in str1:
    
   
    lst=lst + x

mt=tuple(lst)

In [54]:
mt

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

In [55]:
#another soln
result = tuple(x for x in str1 if not x.isspace())
result

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [56]:
#2.calculate the product of all element of given tuple
myt=(1,2,3,4)
p=1
for x in myt:
    p=p*x
print(p)

24

# Sets

In [57]:
#unordered and collection of unique element

In [58]:
primes = {3,5,7,11,13}

In [59]:
primes

{3, 5, 7, 11, 13}

In [60]:
type(primes)

set

In [61]:
print(type(primes))

<class 'set'>

In [62]:
unique = set('jsmpmhadapsarpvpitpune')

In [63]:
print(unique)

{'d', 'v', 'j', 'a', 'e', 'h', 'u', 'i', 'n', 'p', 'r', 't', 'm', 's'}

In [64]:
dir(unique)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [65]:
empty={}

In [66]:
empty

{}

In [67]:
type(empty)

dict

In [68]:
empty =set()

In [69]:
empty

set()

In [70]:
type(empty)

set

In [71]:
primes = [3,5,11,13,17]
primeset=set(primes)
primeset

{3, 5, 11, 13, 17}

In [72]:
primeset.[0]   #error- bcz..sets are unordered

TypeError: 'set' object is not subscriptable

In [73]:
primeset.add(19)

In [74]:
primeset

{3, 5, 11, 13, 17, 19}

In [76]:
primeset.add(19)  #override value

In [77]:
primeset

{3, 5, 11, 13, 17, 19}

In [78]:
primelist = ['sunny',4,5,8]
primeset.update(primelist)

In [80]:
primeset

{11, 13, 17, 19, 3, 4, 5, 8, 'sunny'}

In [81]:
primeset.discard('sunny')

In [82]:
primeset

{3, 4, 5, 8, 11, 13, 17, 19}

In [83]:
primeset.remove(11)

In [84]:
primeset

{3, 4, 5, 8, 13, 17, 19}

In [85]:
set1 = {3,5,11}
set2 = {3,5,7,11,13,17,19}
set3 = set1 | set2     #union
set3

{3, 5, 7, 11, 13, 17, 19}

In [86]:
#intersection

In [88]:
set3 = set1 & set2
set3

{3, 5}

In [89]:
#diffrence

In [90]:
set3=set2 - set1

In [91]:
set3

{7, 13, 17, 19}

In [93]:
#symetric diffrence

In [96]:
set3= set2 ^ set1

In [97]:
set3

{7, 11, 13, 17, 19}

In [98]:
#compare

In [102]:
prime1 = {3,5,7,11,91,101,303}
prime2 = {3,5,7,11,91,101},

In [103]:
test = prime1==prime2

In [104]:
test

False

In [105]:
test = prime1>prime2

In [106]:
test

True

In [107]:
test = prime1 < prime2
test

False

In [108]:
prime1

{3, 5, 7, 11, 91, 101}

In [109]:
test = 11 in prime1

In [111]:
test

True

In [112]:
test = 131 in prime1
test

False

In [113]:
dir(primes)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']