In [2]:
txt ='Summer'
x= txt.islower()
print(x)

False

In [3]:
txt = 'summer'
x=txt.islower()
print(x)

True

In [2]:
txt = '1200.00'
x= txt.isnumeric()
print(x)

False

In [3]:
txt = '1200'
x= txt.isnumeric()
print(x)

True

In [9]:
txt = 'summer'
x= txt.isprintable()
print(x)

True

In [10]:
txt ='summer\n'
x=txt.isprintable()
print(x)

False

In [11]:
txt = 'VII'
x =txt.isnumeric()
print(x)

False

In [12]:
txt = 'This Is Title'
x= txt.istitle()
print(x)

True

In [13]:
txt = 'This is Title'
x= txt.istitle()
print(x)

False

In [15]:
txt = 'HELLO'
x= txt.isupper()
print(x)

True

In [16]:
text = 'HELLO  everyone'
x=text.isupper()
print(x)

False

In [17]:
mytupple=('Sachin','Suresh','Anand')
x = '#'.join(mytupple)
print(x)

Sachin#Suresh#Anand

In [18]:
mytupple=('Sachin','Suresh','Anand')
x = '+++'.join(mytupple)
print(x)

Sachin+++Suresh+++Anand

In [20]:
txt = 'Salman'   
x= txt.ljust(20)  #justify 20 spaces in left side
print(x,'is your fav actor')

Salman               is your fav actor

In [4]:
txt = 'Hello my Friend'
x = txt.swapcase()  #swap lower to upper and vice verse
print(x)

hELLO MY fRIEND

In [22]:
txt = 'hello world,python is,very easy'
x= txt.split(',')
print(x)

['hello world', 'python is', 'very easy']

In [30]:
txt = 'orange,bannana,mango,pinaple,papaya'
x = txt.split(sep =",",maxsplit = 2)  #maxsplit-how much  you split
print(x)

['orange', 'bannana', 'mango,pinaple,papaya']

In [31]:
txt = '                    helllloooooooooo'
x= txt.strip()    #strip whitespaces
print(x)

helllloooooooooo

In [32]:
txt = '                    helllloooooooooo      '
x= txt.lstrip()    #strip whitespaces from  leftside
print(x)

helllloooooooooo

In [33]:
txt = '                    helllloooooooooo      '
x= txt.rstrip()    #strip whitespaces from right side
print(x)

                    helllloooooooooo

In [35]:
text = 'welcome to my wolrd'
x = text.title()
print(x)

Welcome To My Wolrd

In [36]:
txt = '50'
x = txt.zfill(10)
print(x)

0000000050

In [38]:
txt = 'Hello Sam!'
mytable = txt.maketrans("S","P")   #conversion of ascii characters
print(mytable)
print(txt.translate(mytable))

{83: 80}
Hello Pam!

In [40]:
txt = 'Hello Sam!'
x= 'mSa'
y = 'eJo'
mytable = txt.maketrans(x,y)
print(mytable)
print(txt.translate(mytable))

{109: 101, 83: 74, 97: 111}
Hello Joe!

In [41]:
txt = 'Hellmmmmmo Sam!'
x= 'mSa'
y = 'eJo'
mytable = txt.maketrans(x,y)
print(mytable)
print(txt.translate(mytable))

{109: 101, 83: 74, 97: 111}
Helleeeeeo Joe!

In [42]:
txt = 'Good Night Sam!'
x= 'mSa'
y = 'eJo'
z ='odnght'
mytable = txt.maketrans(x,y,z)
print(mytable)
print(txt.translate(mytable))

{109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}
G Ni Joe!

In [43]:
txt = 'Good night Sam!'
x= 'mSa'
y = 'eJo'
z ='odnght'
mytable = txt.maketrans(x,y,z)  #z will remove every occurance
print(mytable)
print(txt.translate(mytable))

{109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}
G i Joe!

In [44]:
txt = 'Good night Sam!'
mydict = {109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}
print(txt.translate(mydict))

G i Joe!

In [48]:
txt = 'Good Night Sam'
x = txt.partition('Night')
print(x)

('Good ', 'Night', ' Sam')

In [47]:
txt = 'Good Night Sam'
x = txt.partition('apple')
print(x)

('Good Night Sam', '', '')

In [52]:
txt = 'this is string example is this is good'
x= txt.replace('is','was',3)
print(x)

thwas was string example was this is good

In [54]:
txt = 'this is string example is this is good'
x= txt.replace('is','was',4)
print(x)

thwas was string example was thwas is good

In [56]:
txt = 'thank you for learning string methods\n we will start new point'
x= txt.splitlines()   #return list of two lines
print(x)

['thank you for learning string methods', ' we will start new point']

In [58]:
dir(txt)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [61]:
txt = "  "
x = txt.isspace()
print(x)

True

In [62]:
txt = " s "
x = txt.isspace()
print(x)

False

## .....string Escapping Characters......

In [67]:
txt = 'It\'s alright!'
print(txt)

It's alright!

In [68]:
txt = "This will insert one \\(backslash)"
print(txt)

This will insert one \(backslash)

In [70]:
txt = 'This will insert one\n new line'
print(txt)

This will insert
 new line

In [71]:
txt = 'This will insert one\t new tab'
print(txt)

This will insert one	 new line

In [72]:
txt = 'This will insert one two three \r This will insert one'
print(txt)  #\r carriage return--overide the string

 This will insert one

In [73]:
txt = 'Hello \bWorld'   #remove back space
print(txt)

Hello World

In [74]:
txt = '\110\145\154\154\157'  #ocatal representation
print(txt)

Hello

In [75]:
txt = '\x48\x65\x6c\x6c\x6f'   #hex representation
print(txt)

Hello

### ......INPUT.....

In [78]:
num1 = input('enter the first Number')
num2 = input('enter teh second Number')
num3 = num1 + num2
print(num3)

enter the first Number12
enter teh second Number12
1212

In [80]:
num1 = int(input('enter the first Number'))
num2 = int(input('enter teh second Number'))
num3 = num1 + num2
print(num3)

enter the first Number12
enter teh second Number13
25

In [81]:
num1 = int(input('enter the first Number'))
num2 = int(input('enter teh second Number'))
num3 = num1 + num2
print(num3)

enter the first Number12
enter teh second Number13.55

ValueError: invalid literal for int() with base 10: '13.55'

In [84]:
num1 = float(input('enter the first Number'))
num2 = float(input('enter teh second Number'))
num3 = num1 + num2
print(num3)

enter the first Number12.5
enter teh second Number12.6
25.1

In [85]:
num1 = float(input('enter the first Number'))
num2 = float(input('enter teh second Number'))
num3 = num1 + num2
print(num3)

enter the first Number12
enter teh second Number12.5
24.5

In [86]:
num1 = float(input('enter the first Number'))
num2 = float(input('enter teh second Number'))
num3 = num1 + num2
print('sum of townumber = {:.2f}'.format(num3))

enter the first Number12
enter teh second Number12.5
sum of townumber = 24.50

## problem

In [88]:
#1.print Hello World!
print('Hello World!')

Hello World

In [90]:
#2.Add two numbers
a= int(input('enter number1'))
b = int(input("enter number 2"))
print(a+b)

enter number112
enter number 23
15

In [95]:
#3.find square root of number
a= int (input("enter number"))
print(a**0.5)

enter number25
5.0

In [100]:
#4.program to calculate area of triangle
a = int(input("enter side1:"))
b=int(input('enter side 2:'))
c=int(input('enter side 3:'))

s = (a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c))**0.5

print('area = {}'.format(area))
print('semi perimetre of triangle is {}'.format(s))

enter base of triangle:12
enter side 2:13
enter side 3:14
area = 72.30793524918272
semi perimetre of triangle is 19.0

In [115]:
#5.python program to sove quadratic equationn
import cmath


ax=int(input("enter value of a"))
bx=int(input("enter value of b"))
c=int(input("enter value of c"))
# ax**2 +bx+c
d= (bx**2)-(4*ax*c)
sol1 = (-bx-cmath.sqrt(d))/(2*ax)
sol2=(-bx+cmath.sqrt(d))/2*ax
print('solution 1 = {}'.format(sol1))
print('solution 2 = {}'.format(sol2))

enter value of a1
enter value of b5
enter value of c6
solution 1 = (-3+0j)
solution 2 = (-2+0j)

In [118]:
#6.Python program to swap variable
a=int(input('enter value of a'))
b=int(input('enter value of b'))
#using temp
temp = a
a=b
b=temp

# a,b=b,a
print('a={},b={}'.format(a,b))

enter first num10
enter second num15
a=15,b=10

In [119]:
#7.write prgram to convert kilometers to miles 
fac = 0.621371
a=float(input("enter kilometer"))
mile=a*fac
print(mile)

enter kilometer1
0.621371

In [122]:
#8.Conver celcius to farhenhit

c = int(input('enter temperature in celcius:'))
f=(c*(9/5))+32
print(f)

enter temperature in celcius32
89.6

In [123]:
#calculate are of circle
pi = 3.14159
r=int(input('enter radius'))
a=pi*r*r
print('area of circle is',area)

enter radius7
area of square is 72.30793524918272

In [124]:
#

### ...Comparison Operator......

In [126]:
2==2

True

In [127]:
2==2.0

True

In [128]:
2==3

False

In [129]:
2!=2

False

In [130]:
2>1

True

In [131]:
3>2

True

In [132]:
3>5

False

In [133]:
4<8

True

In [134]:
5<3

False

In [135]:
2>=2

True

In [136]:
3>=2

True

In [137]:
5<=3

False

In [140]:
 1<2<3  #chain operator

True

In [139]:
1<2 and 2<3

True

In [141]:
1==1or 100==1

True

# .......Python Statements........

#if    elif else

In [144]:
a=40
b=60
if a<b:
    print('a is smaller')

a is smaller

In [145]:
a=45
b=45
if a<b:
    print('a is smaller ')
else:
    print('both are equal')

both are equal

In [147]:
a=89
b=100
if a>b:
    print(' a is greater')
elif a==b:
    print('both are equal')
else:
    print('b is greater')

b is greater

In [148]:
a=90
b=67
if a>b:print('a is greater')

a is greater

In [150]:
a = 100
b = 100
print('a is greater') if a > b else print('b is greater')

b is greater

In [151]:
a = 110
b = 100
print('a is greater') if a > b else print('b is greater')

a is greater

In [153]:
a = 100
b = 100   
print('a is greater') if a > b elif a==b print('both are equal') else print('b is greater')
#only if and else can be used in shortcut

SyntaxError: invalid syntax (<ipython-input-153-7636323c2e98>, line 3)

In [154]:
a=100
b=34
c=400
if a>b or a>c:
    print("a is greater")

a is greater

In [155]:
a=10
b=12
c=8
if a>b:
    if a>c:
        print('a is greater')
    else:
        print('c is greater')
elif b>a:
    if b>c:
        print('b is greater')
    else:
        print('c is greater')

b is greater

In [156]:
num = float(input('Enter the number'))
if num >= 0:
    if num==0:
        print("Zero")
    else:
        print("positive number")
        
else:
    print('Negative number')

Enter the number12
positive number

In [161]:
#1.smaller one
num1 = int(input('enter num1'))
num2 = int(input('enter num2'))
num3 = int(input('enter num3'))

if num1<num2:
    if num1<num3:
        print('num1 is smaller')
    else:
        print('num3 is smaller')
elif num2<num1:
    if num2<num3:
        print('num2 is smaller')
    else:
        print('num3 is smaller')

enter num11
enter num25
enter num38
num1 is smaller

In [164]:
#2.take the value of length and breadth of rectangle
#and check it is square of not
length=float(input("enter length of rectangle"))
breadth =float(input("enter breadth of rectangle"))

if length ==breadth:
    print('it is square')
else:
    print('it is not square')

enter length of rectangle12
enter breadth of rectangle12
it is square

In [169]:
####A shop will give you discount of 10%
#if the cost of purchase quantity is more than
#1000.
#ask user for quantity supose one unit cost is 100
#and print total cost of user


q=int(input("enter quantity"))
cost = q*100
if cost>1000:
    print('you have 10 % discount')
    print('your final purchase amount is',(cost-cost*0.1) )

else:
    print("your final amount is",cost)

enter quantity100
you have 10 % discount
your final purchase amount is 9000.0

In [173]:
#4.take the input of age of 3 people by
#user and determine oldest and youngest 
p1=int(input("enter age of p1"))
p2=int(input("enter age of p2"))
p3=int(input("enter age of p3"))

if p1>p2>p3:
    print("p1 is oldest")
    if p2>p3:
        print('p2 is oldest')
else:
    print('p3 is oldest')

        
if p1<p2<p3:
    print("p1 is youngest")
    if p3<p2:
        print('p3 is youngest')
else:
        print('p2 is youngest')

enter age of p120
enter age of p230
enter age of p340
p3 is oldest
p1 is youngest

In [185]:
#5.print absolute value of number enered
#by user do not use abs function
a=float(input('enter number'))
if a-a =0:
    a = a* (-1)
    
print(a)

enter number-25
-25.0

In [186]:
a= int(input('enter number'))
print(a) if a>0 else print(-a)

enter number-25
25

In [202]:
#6.write a program to check year is leap year or not
#if year is leap is divisible by 4 then
#it is leap year
#but if the year is century like2000,1900
#then it must be divisible by 400

year = int(input("enter year"))
if year % 4 ==0:
    if year % 100==0:
        if year%400 ==0:
            print("year is leap")
        
        else:
            print("not a leap year")
    else:
        print('year is leap')
else:
    print("not a leap year")

enter year400
year is leap

In [199]:

year = int(input("enter year"))
if (year % 4) == 0:
   if (year % 100) == 0:
       if (year % 400) == 0:
           print("{0} is a leap year".format(year))
       else:
           print("{0} is not a leap year".format(year))
   else:
       print("{0} is a leap year".format(year))
else:
   print("{0} is not a leap year".format(year))

enter year2100
2100 is not a leap year

In [207]:
#A student will not be allowed to sit in exam
#if his/her attendance is less than 75 %
#take following input from user
#1.number of lecture conducted
#2.number of lecture attneded
#print % of attendance
#print is elligile or not

#modify the abouve problem statemt
#allow he\she if had a medical certificate


total_lec = int(input("enter total number of lecture conducted"))
att_lec =int(input('enter total number of lecture attended'))

att_per = (att_lec/total_lec)*100
print('your attendace is ',att_per)

if att_per < 75:
    med_cert=int(input('do you have med cert replay with(1/0)'))
    if med_cert ==1:
        
        print("you are elligible for exam with medical cert.")
    else:
        
        print("you are not elligible for exam")
else:
    print("you are elligible for exam")

enter total number of lecture conducted50
enter total number of lecture attended25
your attendace is  50.0
do you have med cert replay with(1/0)1
you are elligible for exam with medical cert.