In [1]:
s=set()

In [2]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [3]:
s.add(1) #add eleemtns to set

In [4]:
s

{1}

In [5]:
s.add(2)

In [6]:
s

{1, 2}

In [7]:
s.add(2) #no error

In [8]:
s

{1, 2}

In [9]:
s.clear()

In [10]:
s

set()

In [11]:
s={1,2,3,4,5,5}

In [12]:
sc = s.copy()  #copy of the set

In [13]:
s

{1, 2, 3, 4, 5}

In [14]:
sc

{1, 2, 3, 4, 5}

In [15]:
s.add(56)

In [16]:
s

{1, 2, 3, 4, 5, 56}

In [17]:
sc

{1, 2, 3, 4, 5}

In [18]:
s.difference(sc)

{56}

In [23]:
s1={1,2,3}
s2={1,4,5}
s1

{1, 2, 3}

In [20]:
s1.difference_update(s2)

In [21]:
s1

{2, 3}

In [22]:
s

{1, 2, 3, 4, 5, 56}

In [24]:
s.discard(56)

In [25]:
s

{1, 2, 3, 4, 5}

In [26]:
s1

{1, 2, 3}

In [27]:
s2

{1, 4, 5}

In [28]:
s1.add(1)

In [29]:
s1

{1, 2, 3}

In [30]:
s2

{1, 4, 5}

In [31]:
s1.intersection(s2)

{1}

In [32]:
s1

{1, 2, 3}

In [33]:
s1.intersection_update(s2)

In [34]:
s1

{1}

In [35]:
s1 = {1,2}
s2={1,2,3}
s3={5}

In [36]:
s1.isdisjoint(s2)

False

In [38]:
s1.isdisjoint(s3)

True

In [39]:
s2.isdisjoint(s1)

False

In [40]:
s2.issuperset(s1)

True

In [41]:
s1.issuperset(s2)

False

In [42]:
s1.symmetric_difference(s2)

{3}

In [43]:
s1.union(s2)

{1, 2, 3}

In [44]:
s1.update(s2)

In [45]:
s1

{1, 2, 3}

In [46]:
s1={1,2}
s1.update(s2)

In [47]:
s1

{1, 2, 3}

In [48]:
s1.remove(3)

In [55]:
s1.add(3)

In [57]:
s1.pop()

2

In [58]:
s1

set()

In [60]:
s1.add(2)

In [61]:
s1.symmetric_difference_update(s2)

In [62]:
s1

{3}

In [63]:
dir(s1)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [64]:
#problem 1:print all distinct element
number = {1,1,2,2,5,4,8,48,45,12,48,15,1,5}

In [65]:
number

{1, 2, 4, 5, 8, 12, 15, 45, 48}

In [67]:
number=[1,1,2,2,5,4,8,48,45,45,12,48,15,1,5]
s=set(number)
s

{1, 2, 4, 5, 8, 12, 15, 45, 48}

In [71]:
#2.
s1={1,2,5,6,7,8}
s2={5,8,9}
#print element in set 1 that are not in set2
print(s1-s2)

{1, 2, 6, 7}

In [70]:
set1={1,2,5,6,7,8}
set2={5,8,9}
set3=set1-set2
set3

{1, 2, 6, 7}

# Dictionaries

collection
unorered
duplicate is not allowed

In [72]:
empty={}

In [73]:
type(empty)

dict

In [74]:
mydict={'name':'sachin','roll_no':'23','branch':'IT'}

In [75]:
mydict

{'name': 'sachin', 'roll_no': '23', 'branch': 'IT'}

In [76]:
mydict={'name':'sachin','roll_no':'23','branch':'IT'
       ,'branch':'CSE'}

In [77]:
mydict

{'name': 'sachin', 'roll_no': '23', 'branch': 'CSE'}

In [78]:
mydict={'name':'sachin','roll_no':'23','branch':'IT','branch':'CSE','idno':'23'}

In [79]:
mydict

{'name': 'sachin', 'roll_no': '23', 'branch': 'CSE', 'idno': '23'}

In [80]:
x=mydict['name']
x

'sachin'

In [81]:
x=mydict.get('name')

In [82]:
x

'sachin'

In [83]:
print(len(mydict))

4

In [84]:
dir(mydict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [85]:
mydict

{'name': 'sachin', 'roll_no': '23', 'branch': 'CSE', 'idno': '23'}

In [86]:
x=mydict.keys()

In [87]:
x

dict_keys(['name', 'roll_no', 'branch', 'idno'])

In [88]:
mydict['floor']=9

In [89]:
mydict

{'name': 'sachin', 'roll_no': '23', 'branch': 'CSE', 'idno': '23', 'floor': 9}

In [90]:
x=mydict.values()

In [91]:
x

dict_values(['sachin', '23', 'CSE', '23', 9])

In [92]:
x=mydict.items()  #tuple of lists of all key value pair

In [93]:
x

dict_items([('name', 'sachin'), ('roll_no', '23'), ('branch', 'CSE'), ('idno', '23'), ('floor', 9)])

In [95]:
if 'roll_no' in mydict:
    print('yes key is exists')
else:
    print('key not found')

yes key is exists

In [96]:
mydict['name']='mahesh'

In [97]:
mydict

{'name': 'mahesh', 'roll_no': '23', 'branch': 'CSE', 'idno': '23', 'floor': 9}

In [98]:
mydict.update({'branch':'IT'})

In [99]:
mydict

{'name': 'mahesh', 'roll_no': '23', 'branch': 'IT', 'idno': '23', 'floor': 9}

In [100]:
mydict.pop('name')

'mahesh'

In [101]:
mydict

{'roll_no': '23', 'branch': 'IT', 'idno': '23', 'floor': 9}

In [102]:
mydict.popitem()

('floor', 9)

In [103]:
del mydict['branch']

In [104]:
mydict

{'roll_no': '23', 'idno': '23'}

In [105]:
mydict.clear()

In [106]:
mydict

{}

In [107]:
del mydict

In [108]:
mydict

NameError: name 'mydict' is not defined

In [109]:
mydict={'name':'sachin','roll_no':'23','branch':'IT','branch':'CSE','idno':'23'}

In [110]:
mydict

{'name': 'sachin', 'roll_no': '23', 'branch': 'CSE', 'idno': '23'}

In [111]:
# loop

In [112]:
for x in mydict:
    print(x)

name
roll_no
branch
idno

In [113]:
for x in mydict:
    print(mydict[x])

sachin
23
CSE
23

In [114]:
mydict.popitem()

('idno', '23')

In [115]:
mydict

{'name': 'sachin', 'roll_no': '23', 'branch': 'CSE'}

In [116]:
for x in mydict.values():
    print(x)

sachin
23
CSE

In [117]:
for x in mydict.keys():
    print(x)

name
roll_no
branch

In [118]:
mydict1=mydict.copy()

In [119]:
mydict1

{'name': 'sachin', 'roll_no': '23', 'branch': 'CSE'}

In [120]:
mydict2 = dict(mydict)

In [121]:
mydict2

{'name': 'sachin', 'roll_no': '23', 'branch': 'CSE'}

In [122]:
my_dict ={'key1':123,'key2':[12,33,45],'key3':['item0','item1','itme2']}

In [123]:
my_dict

{'key1': 123, 'key2': [12, 33, 45], 'key3': ['item0', 'item1', 'itme2']}

In [124]:
my_dict['key3']

['item0', 'item1', 'itme2']

In [125]:
my_dict['key3'][0]

'item0'

In [126]:
my_dict['key3'][0].upper()

'ITEM0'

In [127]:
my_dict['key1']

123

In [128]:
my_dict

{'key1': 123, 'key2': [12, 33, 45], 'key3': ['item0', 'item1', 'itme2']}

In [135]:
my_dict['key1']=my_dict['key1']-123

In [136]:
my_dict['key1']

0

In [137]:
my_dict

{'key1': 0, 'key2': [12, 33, 45], 'key3': ['item0', 'item1', 'itme2']}

In [138]:
my_college = {
    'dept1':{
        'name':'cse',
        'year':2003
    },
    'dept2':{
        'name':'IT',
        'year':2010
    }
}

In [139]:
my_college

{'dept1': {'name': 'cse', 'year': 2003}, 'dept2': {'name': 'IT', 'year': 2010}}

In [141]:
my_college['dept1']

{'name': 'cse', 'year': 2003}

In [142]:
my_college['dept1']['name']

'cse'

In [143]:
d={'key':{'nestedkey':{'subnextkey':'value'}}}

In [144]:
d

{'key': {'nestedkey': {'subnextkey': 'value'}}}

In [145]:
d['key']

{'nestedkey': {'subnextkey': 'value'}}

In [147]:
d['key']['nestedkey']['subnextkey']

'value'

In [150]:
d['key']['nestedkey']['subnextkey']='value'

In [151]:
d

{'key': {'nestedkey': {'subnextkey': 'value'}}}

In [152]:
dir(mydict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [155]:
car={
    'brand':'Ford',
    'model':'Mustang',
    'year' :1988
}

In [156]:
x=car.setdefault('model','anymodel')

In [157]:
x

'Mustang'

In [158]:
x=car.setdefault('color','red')

In [159]:
x

'red'

In [160]:
x=('key1','key2','key3')
y=0

In [161]:
thisdict=dict.fromkeys(x,y)

In [162]:
thisdict

{'key1': 0, 'key2': 0, 'key3': 0}

In [163]:
newdict =dict.fromkeys(x)

In [164]:
newdict

{'key1': None, 'key2': None, 'key3': None}

In [165]:
dir(my_college)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [166]:
#dictionary comprehension

In [167]:
x={x:x**2 for x in range(10)}

In [168]:
x

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [169]:
type(x)

dict

In [170]:
r={i:chr(65+i) for i in range(4)}

In [171]:
r

{0: 'A', 1: 'B', 2: 'C', 3: 'D'}

In [172]:
aged = {'jack':38,'michale':48,'guido':57}

In [173]:
aged

{'jack': 38, 'michale': 48, 'guido': 57}

In [174]:
{k:v for k,v in aged.items() if v > 40}

{'michale': 48, 'guido': 57}

In [180]:
a={}
a[1]=1
a['1']=2
a[1]=a[1]+2
a['a']=a['1']+3
count = 0
for i in a:
    count+=a[i]
print(count)

10

In [181]:
a

{1: 3, '1': 2, 'a': 5}

In [183]:
{True:'yes',1:'no',1.0:'maybe'}

{True: 'maybe'}

In [184]:
True==1 ==1.0

True

In [187]:
#make a quiz app that has 4 opetion and 1
#point if the question is correct.
q1='''
Q1:Is python object oriented 
a.yes
b.no.
'''
q2 ='''
Q2:Who developed the Python language?
a.Niene Stom
b.Wick van Rossum
c.Zim Den
d.Guido Rossum
'''

q3='''
Q3:In which language is Python written?
a.English
b.PHP
c.C
d.All of the above
'''

q4='''
Q4:Which one of the following is the correct extension of the Python file?
a.py
b.python
c.p
dNone of these
'''

q5='''
Q5: What do we use to define a block of code in Python language?
a.Key
b.Brackets
c.Indentation
d.None of these
'''
questions={
    q1:'a',
    q2:'d',
    q3:'c',
    q4:'a',
    q5:'c'
}

type(questions)

dict

In [189]:
# name = input('enter your name ')
# print('welcome ',name)

# score=0
# for i in questions:
#     print(i)
#     ans=input('enter your answer,or to stop the quize (s) ')
#     if ans == questions[q1]:
#         print('correct answer')
#         score+=1
#     elif ans != questions[q1]:
#         print('wrong answer')
#         score-=1
#     elif ans=='s':
#             break
    
# print(score)

enter your name durgesh
welcome  durgesh

Q1:Is python object oriented
a.yes
b.no.

enter your answer,or to stop the quize (s) a

AttributeError: 'str' object has no attribute 'value'

# methods and Functions

diffrence between method and fuctions

In [192]:
lst = [1,2,3]
lst.count(2)

1

In [193]:
help(lst.count)

Help on built-in function count:

count(value, /) method of builtins.list instance
    Return number of occurrences of value.

In [194]:
def greeting():
    print('Hello world')

In [195]:
greeting()

Hello world

In [196]:
def greeting(name):
    print('hello %s'%name)

In [199]:
greeting('durgesh')

hello durgesh

In [200]:
def add_num(num1,num2):
    return num1+num2

In [203]:
add_num(23,45)

68

In [204]:
add_num('one','two')

'onetwo'

In [207]:
def is_prime(num):
    '''
    New method of checking for prime
    '''
    for n in range(2,num):
        if num%n==0:
            print(num,' is not prime')
            break
        else:
            f=1

In [208]:
is_prime(16)

16  is not prime

In [209]:
is_prime(11)

11  is prime
11  is prime
11  is prime
11  is prime
11  is prime
11  is prime
11  is prime
11  is prime
11  is prime

In [210]:
import math

In [212]:
def is_prime2(num):
    '''
    Better version of checking prime
    '''
    if num%2==0 and num>2:
        return False
    for i in range(3,int(math.sqrt(num))+1,2):
        if num%i==0:
            return False
    else:
        return True

In [214]:
is_prime2(12)

False

In [215]:
is_prime2(11)

True

In [216]:
def my_function():
    '''
    Demonstration triple quotes
    docstring and does nothing really'''
    return null

In [217]:
print('using Doc String')
print(my_function.__doc__)

using Doc String

    Demonstration triple quotes
    docstring and does nothing really

In [218]:
print('Help Function')
help(my_function)

Help Function
Help on function my_function in module __main__:

my_function()
    Demonstration triple quotes
    docstring and does nothing really

In [219]:
type(my_function)

function

In [220]:
print(type(my_function))

<class 'function'>

In [225]:
#problem1:
#write fuction that return lesser of two given
#number if both anumbers are even
#but, returns the greatrer if one or both are odd

def lesser_num(a,b):
    if a %2 ==0 and a %2==0:
        if a < b:
            return 'lesser is ',a
        elif a > b:
            return 'lesser is ',b
        else:
            return False
    else:
        if a > b:
            return 'greater is ',a
        if b < a:
            return 'greater is ',b

In [226]:
lesser_num(20,22)

('lesser is ', 20)

In [227]:
def lesser_num1(num1,num2):
    if num1%2==0 and num2%2==0:
        return(min(num1,num2))
    else:
        return(max(num1,num2))

In [228]:
lesser_num1(20,20)

20

In [229]:
w='leade lokmat'

In [231]:
w.split()
w.startswith

'leade lokmat'

In [239]:
#write a function 
#takes two word stirng
#returns True if both word begin with same letter

def str_check(w):
    x=w.split()
    return x[0][0] ==x[1][0]

In [240]:
str_check('lokamt leader')

True

In [241]:
str_check('dil Dhadaknedo')

False

In [244]:
#Given two integers
#return True if the sum of
#integer is 20 or if one of it is 20.
# if not return false

def sum_20(num1,num2):
    return (num1 + num2 ==20) or (num1 ==20 or num2==20)

sum_20(20,1)

In [247]:
sum_20(2,2)

False

In [254]:
#write a fuction that
#capitalize the first and forth letter of a name

def cap_test(x):
    for i,l in range(0,3),x:
        
        if l==0 or l==3:
            i= i.capitalize
    return x

In [255]:
cap_test('macdonald')

ValueError: too many values to unpack (expected 2)

In [279]:
#given a list of int,
#retrun true if array conatains 3 next to a 3
#somewhere
#else False
def check_33(lst):
    j=1
    for i in lst:
        return i==3 and i==lst[j]

In [275]:
check_33([1,3,3])

False

In [303]:
#given a sentence , return a sentence with words reversed

def rev_words(x):
    str1=""
    x= x.split()
    for i in x[::-1]:
        str1=str1 + i +" "
    return str1

In [304]:
rev_words('how are you')

'you are how '

Help on built-in function startswith:

startswith(...) method of builtins.str instance
    S.startswith(prefix[, start[, end]]) -> bool

    Return True if S starts with the specified prefix, False otherwise.
    With optional start, test S beginning at that position.
    With optional end, stop comparing S at that position.
    prefix can also be a tuple of strings to try.

In [305]:
# given a string ,return string where for 
#every char in original string there are 3 char

def repeat_three(x):
    j=""
    for i in x:
        j=j+i*3
    return j

In [306]:
repeat_three('hello')

'hhheeellllllooo'

In [307]:
repeat_three('jspm')

'jjjssspppmmm'

In [317]:
#given an integer n
#return True if n is within 10 of either 100 or 200
def within_range(n):
    return (n>90 and n <110) or (n >190 and n<210)

In [318]:
within_range(150)

False

In [314]:
x= 98 in range(91,110)

In [315]:
x

True

In [323]:
def within_range1(n):
    return n in range(90,111) or n in range(190,211)

In [324]:
within_range1(209)

True

In [341]:
#write a functin that returns the numbers that are prime that exists up to and including a given number

def count_prime(number):
    count=1
    for num in range(1,number+1):
        if num%2==0 and num>2:
            pass
    
        for i in range(3,int(math.sqrt(num))+1,2):
            if num%i==0:
                pass
        else:
            count+=1
    return count

In [342]:
count_prime(100)

101

In [ ]:
def is_prime2(num):
    '''
    Better version of checking prime
    '''
    if num%2==0 and num>2:
        return False
    for i in range(3,int(math.sqrt(num))+1,2):
        if num%i==0:
            return False
    else:
        return True